apiVersion: apps/v1
kind: Deployment
metadata:
  name: quotes-app
  namespace: quoteapp
  labels:
    app: quotes

spec:
  replicas: 2
  selector:
    matchLabels:
      app: quotes
      tier: backend
  template:
    metadata:
      labels:
        app: quotes
        tier: backend
    spec:
      containers:
     
      - name: quotes-app 
        image: quotesapp:latest
        ports:
        - containerPort: 8000
        
        
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8000
          initialDelaySeconds: 20
          periodSeconds: 5
          timeoutSeconds: 5
          failureThreshold: 3

        
        readinessProbe:
          httpGet:
            path: /ready
            port: 8000
          initialDelaySeconds: 5
          periodSeconds: 10
          timeoutSeconds: 3
          failureThreshold: 1
